@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erro";
}
<h1 class="text-danger">Erro.</h1>
<h2 class="text-danger">Houve um erro durante sua requisição, por favor tenta novamente, se isto persistir, entre em contato conosco.</h2>
