/* Your CSS codes here */
.notificacoes {
    background: #fff;
    border-bottom: 0 solid #fff;
    margin-top: 15px;
    width: 66px;
}

.selected {
    background: #51D466;
}

.selected a {
    color: #fff !important; 
}

.required::after {
    content: "*";
    color: red;
}