/* Your CSS codes here */
.notificacoes {
    background: #fff;
    border-bottom: 0 solid #fff;
    margin-top: 15px;
    width: 66px;
}

.selected {
    background: #51D466;
}

.selected a {
    color: #fff !important; 
}

.required::after {
    content: "*";
    color: red;
}

@media screen and (min-width: 768px) {
    .carousel-indicators {
        bottom: 0;
    }
}

.shopping-item h4 {
    width: 215px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.shopping-item p {
    width: 215px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}