@{
    ViewBag.Title = "Confirmação do E-mail";
}
<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Por favor, verifique seu email para validar a sua conta, normalmente a mensagem chega em menos de 5 minutos.<br />
        Qualquer problema na autenticação, entre em contato.
    </p>
</div>
