@{
    ViewBag.Title = "Falha na autenticação";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">Não foi possível se autenticar com o serviço, verifique sua conta no mesmo.</h3>
</hgroup>